#Apfel h1{
text-align: left;
font-size: 60px;
font-weight: 400;
margin-bottom: 20px;
text-transform: uppercase;
color: black
}

#Apfel h2{
	text-align: left;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#Apfel h3{
	text-align: left;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#Apfel blockquote{
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.fivefact{
	display: block;
	width: 800px;
	margin: auto;
	box-shadow: 2px 2px 3px 1px grey;
	background-color: rgb(241, 125, 125);
}


.fact
{
	text-align: center;
	font-family: cursive;
	background-color: rgb(169, 230, 77);
}

.table, th, td{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.table{
	width: 100%;
}

a:active {
	color: grey;
	text-decoration: none;
  }

::selection {
	color: white;
	background: black;
  }


