  

.footer{
    box-shadow: 0 50vh 0 50vh rgb(31, 20, 54);;
    background-color: rgb(31, 20, 54);
    color: white;
    display: flex;

}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer img{
    width: 70%;
    padding-left: 0px;
    float: left;

}

#footer h2{
    font-weight: 400;
    font-size: 17px;

}
.footer- ul{
    margin:0;
    padding:0;
    font-size:18px;
    width:100%;

}
.footer-right ul li{
    text-align: center;
    display:inline-table;
    vertical-align:top;
    width: 300px;
    margin-left: 10px;

}


.footer p{
    text-align: center;
    margin-top: 50px;
    font-size: small;
    color:  grey;

}

.footer a{
    text-decoration: none;
    color: white;

}

.social-icons{
display:flex;
justify-content:center;
list-style:none;
height:fit-content;
padding:0;
overflow:hidden;
}

.social-icons{
  margin:10px 10px;
}

.social-icons li a {
 font-size:30px;
height: 80px;
width: 80px;
border-radius: 50%;
display:flex;
align-items: center;
 Justify-content: center;
text-decoration: none;
color:white;
position:relative;
transition:0.5 ease;
text-shadow:0 0 30px;
}

.social-icons lia:after{
content:'';
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
backdrop-Filter:blur(1px)saturate(100%);
-webkit-backdrop-filter:blur(epx) saturate(180);
background-color:rgba(17,25,40,0);
border-radius:50%;
border:1px solid rgba(255,255,255,0.125);
}

.sozial-icons li a:hover{
    text-shadow: 0 0 0px;
}